[submodule "quinn"]
	path = quinn
	url = https://github.com/quinn-rs/quinn.git
[submodule "h3"]
	path = h3
	url = https://github.com/hyperium/h3.git
[submodule "quic-interop-runner"]
	path = quic-interop-runner
	url = https://github.com/marten-seemann/quic-interop-runner
